# Node dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Local tools & executables
tools/
backend/bin/
*.exe

# Logs and temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp*

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db
